@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html,body {
    width: 100%;
    height: 100%;
}
.content{

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}
.main-title {
    /* background-color: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px #A0C2AC; */
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    /* text-align: center; */
}
.title {
    color: #333;
    padding-bottom: 1rem;
}
.sub-title {
    color: #666;
}
.form1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-weight: 800;
    margin-top: 2rem;
}
.top-3 {
    display: flex;
    align-items: end;
    margin-top: 2rem;
}
.box1, .box2, .box3{
    font-size: 20px;
    font-weight: 700;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box1{
    width: 200px;
    height: 300px;
    background-image: url(/images/m1-removebg-preview.png);
    margin-top: 4rem;
}
.box2{
    width: 200px;
    height: 300px;
    background-image: url(/images/안영태\ 고객.jpg );
    margin-bottom: 4rem;
}
.box3{
    width: 200px;
    height: 300px;
    background-image: url(/images/m1-removebg-preview.png);
    margin-top: 4rem;
}
.form1{
    font-size: 30px;
    color: #A0C2AC;
}
.form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    margin-top: 5rem;
}
.rating1{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 12px;
    color: rgb(158, 158, 158);
}
.rating2{
    padding-bottom: 1rem;
}