*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  /* max-width: 1425px; */
  height: 100%;
  font-family: "Pretendard-Regular";
  position: relative;
}

img {
  width: 100%;
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#box {
  height: 0px;
}

/* 사이드바 부분 */
.side-bar {
  position: sticky;
  /* top: 0; */
  top: calc(0% + 200px);
  left: 30px;
  width: 244px;
  padding: 30px 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 250px;
}

.side-bar h2::before {
  content: "";
  position: absolute;
  top: 25%;
  width: 70px;
  border: 1px solid #bcbcbc;
}

.sb-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.sb-list li {
  padding: 1rem;
}
.side-bar .sb-list li:hover {
  background-color: #f5f7f8;
}
.side-bar .sb-list li:hover a {
  color: #a0c2ac;
}
/* 사이드바 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
}

.container2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container .title {
  font-weight: 600;
  text-align: center;
}

.sub-title {
  color: #bcbcbc;
}

.compartment {
  font-weight: 600;
}

.para2 {
  font-size: 13px;
  color: rgba(255, 0, 0, 0.515);
}

.select-date {
  padding: 1rem;
  border: 1px solid black;
}

.info {
  padding: 2rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.form-text {
  margin-bottom: 3px;
}

/* type = radio 디자인 */
input[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

.form1 .form-content {
  display: flex;
  gap: 1rem;
}

input[type="radio"]:checked {
  border: 0.4em solid #92d7d6;
}

/* type = text 디자인 */
input[type="text"] {
  width: 160px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 8px 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #92d7d6;
}

.phone {
  width: 150px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 5px 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
/* type = select 디자인 */
.dropdown {
  width: 150px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 8px 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.dropdown:focus {
  outline: none;
  border: 2px solid #92d7d6;
}
/* select 디자인 */

/*  */
.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.agree-content {
  width: 856px;
  height: 130px;
  overflow: auto;
  border: 1px dashed black;
  font-size: 12px;
}

/* 캘린더영역 */
.scriptCalendar {
  text-align: center;
}

.scriptCalendar > thead > tr > td {
  width: 1rem;
  height: 1rem;
}

.scriptCalendar > thead > tr:first-child > td {
  font-weight: 600;
  color: rgb(136, 130, 130);
}

.scriptCalendar > thead > tr:last-child > td {
  background-color: #f2f2f2;
  /* border: 1px solid black; */
}

.scriptCalendar > tbody > tr > td {
  width: 3rem;
  height: 4rem;
}

.calendarBtn {
  cursor: pointer;
}
/*캘린더 모양*/
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/*캘린더*/

button {
  background-color: #fff;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

/* 미디어쿼리 */
@media (max-width: 1500px) {
  .side-bar .sb-list li:hover {
    background-color: transparent;
  }
}
@media (max-width: 1300px) {
  .side-bar {
    display: none;
  }
  #box {
    height: 250px;
  }
}
